.profile-info {
    text-align: center;
    background: #191c24;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.mr-inpx-20 {
    margin-right: 20px;
}