/* Reset styles */

  
.forgot-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .password-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-wrapper {
    display: flex;
  }
  
  .forgot-avatar {
    flex: 1;
    background-image: url('../img/inssan-admin.jpg'); /* Provide the correct path to your image */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }
  
  .forgot-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .forgot-form {
    flex: 2;
    padding: 0 20px;
  }
  
  .forgot-h2 {
    margin-bottom: 20px;
    display: ruby-text;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .forgot-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-button:hover {
    background-color: #0056b3;
  }
  
  .forgot-options {
    margin-top: 20px;
  }
  
  .forgot-options a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .forgot-description {
    margin-top: 20px;
  }
  .password-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input input {
    flex: 1;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.password-toggle {
    background: black;
    width: 10%;
    border: none;
    padding: 10px;
    /* margin-left: -35px; Adjust the positioning of the button */
    cursor: pointer;
}

.form-group .change-password-form-input-background {
    border: none;
    background: #2A3038;
    color: #6c7293;
}

.change-password-form-input-background:focus {
    outline: none;
    border: 1px solid rgba(71, 164, 71, 0.5);
}

.change-password-form {
    position: relative; /* Make the form container a relative positioned element */
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #191c24;
}

.change-password-form-input-background::placeholder {
    color: #6c7293; /* Change this to the desired color */
    opacity: 1;  /* For older browsers to ensure the color is applied */
}