.mr-inpx-5 {
    margin: 5px;
}
/* .cancel-button {
    position: relative;
    top: 10px;
    left: calc(width)-15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.dashboard-chapter {
    width: 800px;
} */

.cancel-button {
    position: absolute; /* Use absolute positioning */
    top: 10px;
    right: 15px; /* Position from the right edge */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.chapter-form {
    position: relative; /* Make the form container a relative positioned element */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.cancel-button i {
    color: #333;
}

.form-start-margin {
    margin-top: 7%;
}