.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the overlay appears above other elements */
  }
/* Reset styles */

  
.user-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .registration-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .registration-wrapper {
    display: flex;
  }
  
  .registration-avatar {
    flex: 1;
    background-image: url('../img/inssan-admin.jpg'); /* Provide the correct path to your image */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }
  
  .registration-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .registration-form {
    flex: 2;
    padding: 0 20px;
  }
  
  .registratiion-h2 {
    margin-bottom: 20px;
    display: ruby-text;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .registration-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-button:hover {
    background-color: #0056b3;
  }
  
  .registration-options {
    margin-top: 20px;
  }
  
  .registration-options a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .registration-description {
    margin-top: 20px;
  }
  .password-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input input {
    flex: 1;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.password-toggle {
    background: black;
    width: 10%;
    border: none;
    padding: 10px;
    /* margin-left: -35px; Adjust the positioning of the button */
    cursor: pointer;
}

  