/* CSS for different box sizes */
.small-box {
    background-color: lightblue;
    height: 50px;
}

.medium-box {
    background-color: #fff;
    height: 100px;
}
.lower-medium-box {
    background-color: #fff;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.less-large-box {
    background-color: rgb(194, 205, 235);
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* CSS for different box sizes */
.large-box {
    background-color: lightblue;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Additional style for the specific cell */
.western-chapter {
    font-size: 1.2rem;
    font-weight: 600;
}

.pune {
    font-size: 1.2rem;
    font-weight: 600;
}

.extra-large-box {
    background-color: rgb(100, 89, 89);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.structure-bg {
    background-color: #73a4e7 !important;
}
.p-inpx-0 {
    padding: 0 !important;
}
/* Style for nested table cells */
.nested-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0;
}
.table-color {
    color: black;
    width: 100%;
}
.structure-max-width{
    max-width: 1000px !important;
    margin-top: 5%;
}
